@model IEnumerable<Ejemplo.Models.Ca_AccionesProcesales>

@{
    ViewBag.Title = "ListaAcciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="../../Content/TableSorterStyle.css" rel="stylesheet" />

<h2>ListaAcciones</h2>

<p>
    @Html.ActionLink("Nueva acción procesal", "NuevaAccionProcesal")
</p>
<table id="tableOne" class="yui" width="100%" style="margin: 1% auto;" >
    <thead>
        <tr>
            <td class="tableHeader" colspan="4">
                    Nueva acción procesal<a href="/Acciones/NuevaAccionProcesal">
                        <img src="../../Content/Table/Mas.png" width="32px" height ="32px" class="ImgNuevo" title="Nueva cena"
                            alt="Dar de alta nueva cena" /></a>
                </td>
                <td colspan="5" class="filter" style="border-right: solid 1px #7f7f7f;">
                    Buscar: <input name="text"  value="" maxlength="30" size="30" type="text" />
                    <img id="filterClearOne" src="../../Content/Table/cross.png" width="32px"  style="cursor:pointer" height ="32px" title="Clic para limpiar el filtro."
                        alt="Clear Filter Image" />   
                </td>
            </tr>
        <tr>
            <th>
            @Html.DisplayNameFor(model => model.Id_Etapa_Procesal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_SubEtapa_Procesal)
        </th>
        <!--<th>
            @Html.DisplayNameFor(model => model.Id_Accion)
        </th>
        <th>-->
            @Html.DisplayNameFor(model => model.id_AccionProcesal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <!--<th>
            @Html.DisplayNameFor(model => model.Usu_Act)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Act)
        </th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Etapa_Procesal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_SubEtapa_Procesal)
        </td>
        <!--<td>
            @Html.DisplayFor(modelItem => item.Id_Accion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_AccionProcesal)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <!-- <td>
            @Html.DisplayFor(modelItem => item.Usu_Act)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Act)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
    </tbody>
        <tfoot>
            <tr id="pagerOne">
                <td colspan="10" style="border-right: solid 1px #7f7f7f;">
                    <img src="../../Content/Table/first.png" class="first" alt="" width="32px" height ="32px" style="cursor:pointer" />
                    <img src="../../Content/Table/prev.png" class="prev" alt="" width="32px" height ="32px" style="cursor:pointer"/>
                    <input type="text" class="pagedisplay" />
                    <img src="../../Content/Table/next.png" class="next" alt="" width="32px" height ="32px" style="cursor:pointer"/>
                    <img src="../../Content/Table/last.png" class="last" alt="" width="32px" height ="32px" style="cursor:pointer"/>
                    <select class="pagesize">
                        <option selected="selected" value="10">10</option>
                    </select>
                </td>
            </tr>
        </tfoot>
</table>
@section scripts {
    <script src="../../Scripts/jquery.tablesorter.js"></script>
    <script src="../../Scripts/jquery.tablesorter.pager.js"></script>
    <script src="../../Scripts/jquery.tablesorter.widgets.js"></script>
    <link href="~/Content/TableSorterStyle.css" rel="stylesheet" />
    
    <script src="../../Scripts/jquery.tablesorter.filer.js"></script>
    <link href="~/Content/Table_Style.css" rel="stylesheet" />
    <link href="~/Content/TableStyle.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tableOne").tablesorter({ debug: false, sortList: [], widgets: ['zebra'] })
                            .tablesorterPager({ container: $("#pagerOne"), positionFixed: false })
                            .tablesorterFilter({
                                filterContainer: $("#filterBoxOne"),
                                filterClearContainer: $("#filterClearOne"),
                                filterColumns: [0, 1, 2 ,3 ,4],  // Agregar tantos como campos necesarios
                                filterCaseSensitive: false
                            });

        });
    </script>        
}