@model IEnumerable<Ejemplo.Models.Ca_AccionesProcesales>

@{
    ViewBag.Title = "ListaAcciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="../../Content/TableSorterStyle.css" rel="stylesheet" />

<h2>Lista de acciones procesales</h2>
<table id="tableOne" class="yui" width="100%" style="margin: 1% auto;" >
    <thead>
        <tr>
            <td class="tableHeader" colspan="2">
                    Nueva acción procesal<a href="/Acciones/NuevaAccionProcesal">
                        <img src="../../Content/Table/Mas.png" width="32px" height ="32px" class="ImgNuevo" title="Nueva cena"
                            alt="Dar de alta nueva cena" /></a>
                </td>
        
            </tr>
        <tr>
        <!--<th>Etapa procesal</th>
        <th>Sub etapa procesal</th>-->
        <!--<th>
            @Html.DisplayNameFor(model => model.Id_Accion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_AccionProcesal)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>Fecha de actualización</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
    <tr id="@item.id_AccionProcesal">
        <!--<td>
           <!-- @{
            //Ejemplo.Models.Repositorios.RepoDenfensoria r = new Ejemplo.Models.Repositorios.RepoDenfensoria();
           // Ejemplo.Models.Ca_AccionesProcesales accion = r.getEtapa(item.Id_Etapa_Procesal,item.Id_SubEtapa_Procesal);
            }
            
        </td>-->
        <!--td>
            @Html.DisplayFor(modelItem => item.Id_SubEtapa_Procesal)
        </!--td>-->
        <!--<td>
            @Html.DisplayFor(modelItem => item.Id_Accion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_AccionProcesal)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <!-- <td>
            @Html.DisplayFor(modelItem => item.Usu_Act)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Act)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarAccion", new {  id_Accion=item.id_AccionProcesal},new { @class = "ajax cboxElement"})|
            @Html.ActionLink("Detalles", "DetallesAccion", new {id_Accion=item.id_AccionProcesal},new { @class = "ajax cboxElement"}) |
            @Html.ActionLink("Eliminar", "EliminarAccion", new { id_Accion=item.id_AccionProcesal },new { @class = "eliminarAccion"})
        </td>
    </tr>
}
    </tbody>
        <tfoot>
            
        </tfoot>
</table>
@section scripts {
    <link href="~/Content/colorbox/colorbox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.colorbox-min.js"></script>
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#EditarAccionProcesal").live('submit',function (e) {
                e.preventDefault();
            });
            $("input#guardar_accion").live('click', function () {
                $.ajax({
                    type: "POST",
                    url: "/Acciones/EditarAccion",
                    data: $("#EditarAccionProcesal").serialize(),
                    success: function (result) {
                        if (result.Exito == false) {
                            alert(result.Message);
                        } else {
                            alert("Se ha actualizado correctamente");
                            window.open('/Acciones/ListaAcciones','_self');
                        }
                    }
                });
            });
            ConstruirTabla();
            $(".ajax").colorbox().resize({ width: 700,height:700 });;
            $('.eliminarAccion').live('click', function (e) {
                e.preventDefault();
                if (confirm("¿Estás seguro de eliminar esta acción D:?")) {
                    var url = $(this).attr('href');
                    $.ajax({
                        type: 'GET',
                        url: url,
                        success: function (data) {
                            if (data.Exito == true) {
                                alert("Acción eliminada con éxito");
                                window.open("/Acciones/ListaAcciones", "_self");
                            }else
                                alert("Error al eliminar la acción");
                        }, error: function (data) {
                            alert("No se puede eliminar la acción");
                        }
                    });
                } else
                    return false;
            });
        });
        function ConstruirTabla() {
            $("#tableOne").dataTable({
                "sPaginationType": "full_numbers",
                //"sScrollY" : "500px",
                "oLanguage": {
                    "sLengthMenu": 'Mostrar <select>' +
                        '<option value="5">5</option>' +
			             '<option value="10">10</option>'+
			             '<option value="20">20</option>'+
			             '<option value="30">30</option>'+
			             '<option value="40">40</option>'+
			             '<option value="50">50</option>'+
			             '<option value="-1">Todos</option>'+
			             '</select> registros'
                }
            });
        }
    </script>        
}